n8n-workflows/puente-pending-reminder.json
{
  "name": "PUENTE 仮予約期限3日前リマインダー",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "a6e08471-7c42-4f6e-a3e7-1cb2f0f2bce4",
      "name": "毎朝0時UTC（JST 9時）",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "// JST で「3日後」の日付範囲を求める\nconst jstNow = new Date(Date.now() + 9 * 60 * 60 * 1000);\nconst threeDaysLater = new Date(jstNow.getTime() + 3 * 24 * 60 * 60 * 1000);\n\n// 3日後の JST 0:00:00 と 23:59:59 を UTC に変換\nconst dateStr = threeDaysLater.toISOString().slice(0, 10);\nconst rangeStart = new Date(dateStr + 'T00:00:00+09:00').toISOString();\nconst rangeEnd   = new Date(dateStr + 'T23:59:59+09:00').toISOString();\n\nreturn [{ json: { rangeStart, rangeEnd } }];"
      },
      "id": "be9ded4d-df3a-4ef7-b2c6-de1eff489c33",
      "name": "3日後の日付範囲を計算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ]
    },
    {
      "parameters": {
        "url": "https://rwptdctdiubxjqklogza.supabase.co/rest/v1/reservations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "provisional_expires_at",
              "value": "={{ 'gte.' + $json.rangeStart }}"
            },
            {
              "name": "provisional_expires_at",
              "value": "={{ 'lte.' + $json.rangeEnd }}"
            },
            {
              "name": "line_user_id",
              "value": "not.is.null"
            },
            {
              "name": "select",
              "value": "reservation_code,date,name,line_user_id,provisional_expires_at,menus(name)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": []
        },
        "options": {}
      },
      "id": "06203472-961c-4b95-8a0c-e37407d2b7d8",
      "name": "Supabase — 3日後期限の仮予約取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        448,
        0
      ],
      "credentials": {
        "supabaseApi": {
          "id": "IkjWjVd3BYVO5Izo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nif (!Array.isArray(items) || items.length === 0) return [];\n\nreturn items.map(r => {\n  const expiresDate = new Date(r.provisional_expires_at)\n    .toLocaleDateString('ja-JP', { year:'numeric', month:'long', day:'numeric', timeZone:'Asia/Tokyo' });\n\n  const text = `【PUENTE】仮予約の期限が近づいています ⚠️\\n\\n${r.name} 様の仮予約について、本予約への変更期限が近づいています。\\n\\n📋 予約内容\\n━━━━━━━━━━\\n📅 ご利用日：${r.date}\\n🎫 予約番号：${r.reservation_code}\\n⏰ 期限：${expiresDate}\\n━━━━━━━━━━\\n\\n以下のURLから予約番号とメールアドレスを入力して本予約に変更できます。\\nhttps://puente-seasidehouse.com/confirm.html\\n\\n期限を過ぎると自動的にキャンセルとなりますのでご注意ください。`;\n\n  return {\n    json: {\n      line_user_id: r.line_user_id,\n      payload: JSON.stringify({\n        to: r.line_user_id,\n        messages: [{ type: 'text', text }]\n      })\n    }\n  };\n});"
      },
      "id": "b48bfeb9-7da2-4dd1-a601-d35b52ebf27d",
      "name": "リマインダーメッセージを組み立て",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "0d568678-4e4e-4851-9e57-13e07ec3e147",
      "name": "LINE Push — 期限リマインダー送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "wEYMG6qFqYBNg25N",
          "name": "Header Auth account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "毎朝0時UTC（JST 9時）": {
      "main": [
        [
          {
            "node": "3日後の日付範囲を計算",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "3日後の日付範囲を計算": {
      "main": [
        [
          {
            "node": "Supabase — 3日後期限の仮予約取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — 3日後期限の仮予約取得": {
      "main": [
        [
          {
            "node": "リマインダーメッセージを組み立て",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "リマインダーメッセージを組み立て": {
      "main": [
        [
          {
            "node": "LINE Push — 期限リマインダー送信",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "4f5005c2-17e3-43d8-a863-c02c05e78e55",
  "meta": {
    "instanceId": "630c4768e6cc80b5f76453ac08c59e03220595e019d350c1170adc728e7563bc"
  },
  "nodeGroups": [],
  "id": "xBELdM8OJ0aeKwQx",
  "tags": []
}