n8n-workflows/puente-reminder.json
{
  "name": "PUENTE リマインダー（前日通知）",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "毎朝0時UTC（JST 9時）",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "jsCode": "const jstNow = new Date(Date.now() + 9 * 60 * 60 * 1000);\nconst tomorrow = new Date(jstNow.getTime() + 24 * 60 * 60 * 1000);\nconst tomorrowStr = tomorrow.toISOString().slice(0, 10);\nreturn [{ json: { tomorrow: tomorrowStr } }];"
      },
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "明日の日付を計算",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://rwptdctdiubxjqklogza.supabase.co/rest/v1/reservations",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ 'eq.' + $json.tomorrow }}"
            },
            {
              "name": "line_user_id",
              "value": "not.is.null"
            },
            {
              "name": "status",
              "value": "in.(confirmed,pending)"
            },
            {
              "name": "select",
              "value": "reservation_code,date,time_start,num_people,num_male,num_female,checkin_time,name,line_user_id,menus(name,slot_duration)"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cHRkY3RkaXVieGpxa2xvZ3phIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzODQzOTIsImV4cCI6MjA5Mzk2MDM5Mn0.rcNsd0YM487JEmJMFia_bH8byvRA8vqc_irTE65LZiU"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ3cHRkY3RkaXVieGpxa2xvZ3phIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzODQzOTIsImV4cCI6MjA5Mzk2MDM5Mn0.rcNsd0YM487JEmJMFia_bH8byvRA8vqc_irTE65LZiU"
            }
          ]
        },
        "options": {}
      },
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "Supabase — 翌日の予約取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nif (!Array.isArray(items) || items.length === 0) return [];\n\nreturn items.map(r => {\n  const isBbq = !!r.time_start;\n  const timeText = isBbq\n    ? r.time_start.slice(0, 5) + '〜（2時間）'\n    : 'チェックイン：' + (r.checkin_time || '当日受付');\n  const peopleText = isBbq\n    ? r.num_people + '名'\n    : '男性' + r.num_male + '名 / 女性' + r.num_female + '名';\n\n  const text = `【PUENTE】明日のご予約のリマインダーです 🌊\\n\\n📋 予約内容\\n━━━━━━━━━━\\n📅 日付：${r.date}\\n⏰ 時間：${timeText}\\n👥 人数：${peopleText}\\n🎫 予約番号：${r.reservation_code}\\n━━━━━━━━━━\\n\\n当日は予約番号またはQRコードをスタッフにご提示ください。\\nお天気に恵まれますように ☀️`;\n\n  return {\n    json: {\n      line_user_id: r.line_user_id,\n      payload: JSON.stringify({\n        to: r.line_user_id,\n        messages: [{ type: 'text', text }]\n      })\n    }\n  };\n});"
      },
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "メッセージを組み立て",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/push",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer B3v28n22DjddVaVnOPRx0bqX43kJGhvSU9JAwJ3iAfdEkQffFb8/zdOYOgLMzWttnr8/ckbodijjvCWiaXMJmKIleZnNaFW9/7v8xFpQwB3q4vR6qyoK+UX7LE1jOI5OiO+7vSS4Hui+vp4y67fWAQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={{ $json.payload }}",
        "options": {}
      },
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "LINE Push — リマインダー送信",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    }
  ],
  "connections": {
    "毎朝0時UTC（JST 9時）": {
      "main": [
        [{ "node": "明日の日付を計算", "type": "main", "index": 0 }]
      ]
    },
    "明日の日付を計算": {
      "main": [
        [{ "node": "Supabase — 翌日の予約取得", "type": "main", "index": 0 }]
      ]
    },
    "Supabase — 翌日の予約取得": {
      "main": [
        [{ "node": "メッセージを組み立て", "type": "main", "index": 0 }]
      ]
    },
    "メッセージを組み立て": {
      "main": [
        [{ "node": "LINE Push — リマインダー送信", "type": "main", "index": 0 }]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": []
}
