n8n-workflows/puente-expire-pending.json
{
  "name": "PUENTE 仮予約自動期限切れ",
  "nodes": [
    {
      "parameters": {
        "jsCode": "const now = new Date().toISOString();\nreturn [{ json: { now } }];"
      },
      "id": "1f7c728b-b595-4923-b5b0-569e65e257b2",
      "name": "現在時刻を取得",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        368,
        144
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "https://rwptdctdiubxjqklogza.supabase.co/rest/v1/reservations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "supabaseApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "eq.pending"
            },
            {
              "name": "provisional_expires_at",
              "value": "={{ 'lt.' + $json.now }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\"status\": \"expired\"}",
        "options": {}
      },
      "id": "f0174d79-6d12-4dcb-b826-44c191b1601d",
      "name": "Supabase — pending → expired に更新",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        592,
        144
      ],
      "credentials": {
        "supabaseApi": {
          "id": "IkjWjVd3BYVO5Izo",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json;\nconst count = Array.isArray(items) ? items.length : (items ? 1 : 0);\nconsole.log(`[PUENTE] 期限切れ仮予約を ${count} 件 expired に更新しました。`);\nreturn [{ json: { expired_count: count } }];"
      },
      "id": "280d4f58-3a21-4ee0-88bd-693d42b8d70f",
      "name": "件数ログ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        816,
        144
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 0 * * *"
            }
          ]
        }
      },
      "id": "ea1aff41-34c3-4aad-aefc-feaa9973aaaf",
      "name": "毎朝0時UTC（JST 9時）1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        144,
        144
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "現在時刻を取得": {
      "main": [
        [
          {
            "node": "Supabase — pending → expired に更新",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — pending → expired に更新": {
      "main": [
        [
          {
            "node": "件数ログ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "毎朝0時UTC（JST 9時）1": {
      "main": [
        [
          {
            "node": "現在時刻を取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "ae1b6598-5afe-4434-a320-8950230dc6ab",
  "meta": {
    "instanceId": "630c4768e6cc80b5f76453ac08c59e03220595e019d350c1170adc728e7563bc"
  },
  "nodeGroups": [],
  "id": "6gJ6aXcqTKljdmCy",
  "tags": []
}